body {
    margin: 0px;
    font-family: 'Playfair Display', serif;
}
.wrapper {
    text-align: center;
    color: white;
    font-family: 'Playfair Display', serif;
}
/*First section started*/
.content-container-1 {
    margin: auto;
}
#logo {
    padding-top: 14px;
}
.logo {
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 2px;
}
#thank-you {
    width: 100%;
    height: 802px;
    background-image: url("../images/background.jpg");
}
#thank-you:after {
    content: ' ';
    display: block;
    position: absolute;
    left: 2;
    top: 0;
    width: 100%;
    height: 802px;
    z-index: 1;
    background: rgba(28, 37, 65, 0.9);
    background-repeat: no-repeat;
    background-position: 50% 0;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
}
.content-container-1 {
    z-index: 2;
    position: relative;
}
h1 {
    font-size: 151px;
    margin:auto ;
    font-weight: 100;
    padding: 76px 0px 124px;
    letter-spacing: 0px;
    word-spacing: -9px;
}
.content-container-1 p {
    color: white;
    font-size: 19.05pt;
    margin: -66px auto 0px auto;
    width: 1066px;
    letter-spacing: 0;
    word-spacing: 0px;
    line-height: 30px;
}
.download-button {
    padding-top: 15px;
    padding-bottom: 5px;
    margin: 79px auto;
    height: 45px;
    width: 281px;
    background-color: rgb(79, 221, 202);
}
.download-button:hover
{
    background-color: rgba(79, 221, 202,0.7);
    cursor: pointer;
}
a.btn {
    font-family: 'Playfair Display', serif;
    font-style: italic;
    font-weight: bold;
    color: white;
    font-size: 21px;
    margin-left: 0px;
    word-spacing: 4px;
    text-decoration: none;
}
/*First section finished*/
/*Second Section Stared*/
.section-wrapper-2 {
    margin-top: 178px;
    color: black;
    background-color: rgb(241, 242, 242);
    
}
.content-container-2 {
    padding-bottom: 10px;
    padding-top: 46px;
    margin: 0px auto;
}
/*Grid Started*/
.grid {
    display: flex;
    margin: 72px 10% 88px 10%;
}
.content-container-2 > h2 {
    font-size: 49px;
    margin-left: 1px;
}
.content-container-2 > p {
    font-family: 'Montserrat', sans-serif;
    color: rgb(186, 187, 189);
    margin: -17px auto;
    width: 699px;
    word-spacing: 1px;
    line-height: 30px;
}
.center {
    margin: auto;
}
.column {
    margin: 0 5px;
    transition-timing-function: ease-in;
    transition-delay: 0.2s;
   
}
.column:hover
{
    box-shadow: 6px 72px 7px #888888;
}
.read-more-button {
    padding: 16px 0px 14px 0px;
    margin: 109px auto 40px 11px;
    height: 30px;
    width: 145px;
    background-color: rgb(79, 221, 202);
}
.read-more-button:hover {

        background-color: rgba(79, 221, 202,0.7);
        cursor: pointer;

    }
.read-more-button > a {
    text-decoration: none;
    color: white;
    font-style: italic;
    font-weight: bold;
    font-size: 21px;
}
.column-content {
    padding: 14px 25px;
    margin-top: -5px;
    background-color: white;
}
.image-title
{
    height: auto;
}
.column > img {
    width: 100%;
    height: 43%;
    position: relative;
}
@media screen and (max-width: 840px) {
    .grid {
        display: block;
    }
    .column {
        width: 100%;
        margin: 10px;
    }
    .content-container-1 > h1
   {
    font-size: 18vw;
   }
    .content-container-1 p {
        width: auto;
         font-size: 3.6vw;
    }
    .content-container-2 > p {
        width: 100%;
    }
    .image-text {
    height: 97px;
    font-size: 3vw;
}
.read-more-button
{
        margin: auto auto auto 11px;
}
.content-title
{
    font-size: 5vw;
}
.column:hover
{
    box-shadow: none;
}
}
    
@media screen and (max-width: 756px)
{

.download-button
{
    height: 42px;
    width: 51%;
}

.section-wrapper-2
{
    margin-top: 8%;
}
}
@media screen and (max-width: 839px) and (min-width: 150px)
{
    .section-wrapper-2 {
    margin-top: 721px;
    position: absolute;
    top: 81px;
}
}

.column-content > p {
    font-family: 'Montserrat', sans-serif;
    line-height: 2;
    overflow: hidden;
}

.image-text {
    height: 153px;
    line-height: 29px;
    color: rgb(186, 187, 189);
    font-family: 'Montserrat', sans-serif;
}
@media screen and (max-width: 470px)
{
    a.btn
    {
        font-size: 4vw;
    }
}
/*Grid-finished*/
/*Second Section finished*/
footer
{
    padding-top: 10px;
    position: relative;
    bottom: 0;
    color: black;
    background-color: rgb(241, 242, 242);
}